.split_flap_display {
  --split-flap-crease: 1px;
  --chars-gap: 2px;
  --flip-duration: 800ms;

  display: flex;
  //filter: drop-shadow(0 1px 12px var(--color-shadow-1));
  font-size: 3.5em;
  gap: var(--chars-gap);
  transform: rotateY(45deg);
  transform-style: preserve-3d;

  .slot {
    display: grid;
    place-content: center;
    transform-style: preserve-3d;

    .character {
      // Calculate absolute distance from current character
      --offset: calc(var(--index) - var(--current-character-index));
      --abs-offset: max(var(--offset), calc(var(--offset) * -1));
      --flip: clamp(-1, var(--offset), 1);
      --angle: calc((180 / (var(--total) - 1)) * 1deg);
      --a: calc(var(--abs-offset) * var(--angle));
      --a2: calc(var(--a) * -1);

      display: flex;
      flex-direction: column;
      gap: var(--split-flap-crease);
      grid-area: 1 / 1;
      pointer-events: none;
      transform-style: preserve-3d;

      > .flap {
        backface-visibility: hidden;
        background: var(--color-background);
        border-radius: 3px;
        box-shadow: inset 0 0 2px 0.75px var(--color-border-2),
          inset 0 0 0 0.75px var(--color-border-1);
        box-sizing: content-box;
        display: flex;
        height: 0.5em;
        line-height: 1;
        overflow: hidden;
        place-content: center;
        position: relative;
        transform-style: preserve-3d;
        transition: transform var(--flip-duration) var(--ease-out-cubic);
        vertical-align: middle;
        width: 1em;

        // Top flap - flips down
        &:first-child {
          align-items: flex-start;
          backface-visibility: hidden;
          padding-top: 0.25em;
          transform: rotateX(var(--a));
          transform-origin: center bottom;

          > * {
            translate: 0 calc(var(--split-flap-crease) * 0.5);
          }
        }

        // Bottom flap
        &:last-child {
          align-items: flex-end;
          backface-visibility: hidden;
          padding-bottom: 0.25em;
          transform: rotateX(var(--a2));
          transform-origin: center top;

          > * {
            translate: 0 calc(var(--split-flap-crease) * -0.5);
          }
        }
      }
    }
  }
}
