.split_flap_display {
  --split-flap-crease: 1px;
  --chars-gap: 2px;

  display: flex;
  filter: drop-shadow(0 1px 12px var(--color-shadow-1));
  font-size: 2.5em;
  gap: var(--chars-gap);

  .slot {
    display: grid;
    place-content: center;

    .character {
      display: flex;
      flex-direction: column;
      gap: var(--split-flap-crease);
      grid-area: 1 / 1;

      > .flap {
        background: var(--color-background);
        border-radius: 3px;
        box-shadow: inset 0 0 2px 0.75px var(--color-border-2),
          inset 0 0 0 0.75px var(--color-border-1);
        box-sizing: content-box;
        display: flex;
        height: 0.5em;
        line-height: 1;
        overflow: hidden;
        place-content: center;
        position: relative;
        vertical-align: middle;
        width: 1em;

        &:first-child {
          align-items: flex-start;
          padding-top: 0.25em;

          > * {
            translate: 0 calc(var(--split-flap-crease) * 0.5);
          }
        }

        &:last-child {
          align-items: flex-end;
          padding-bottom: 0.25em;

          > * {
            position: relative;
            translate: 0 calc(var(--split-flap-crease) * -0.5);
          }
        }
      }
    }
  }
}
