@use "/styles/lib/mixins.scss";

.carousel {
  width: 100%;
}

.carousel_viewport {
  --mask-size: clamp(16px, 25vw, 64px);
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 calc(min(var(--remaining-backwards), var(--mask-size))),
    #000 calc(100% - min(var(--remaining-forwards), var(--mask-size))),
    transparent 100%
  );
  mask-size: 100% 100%;

  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scroll-snap-type: x mandatory;
  scrollbar-color: transparent transparent;
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */

  &::-webkit-scrollbar {
    display: none; /* Older Safari and Chromium */
  }
}

.carousel_content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px 0;
}

.carousel_item {
  --radius: clamp(6px, 1vw, 10px);
  --padding: clamp(4px, 1vw, 7px);
  align-items: center;
  background-color: var(--color-toolbar-background);
  border-radius: var(--radius);
  box-shadow: 0 1px 12px var(--color-shadow-1),
    inset 0 0 2px 0.75px var(--color-border-2),
    inset 0 0 0 0.75px var(--color-border-1);
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  padding: var(--padding);
  scroll-snap-align: center;
  transition: mixins.theme-transition(color, background-color, box-shadow);
  user-select: none;
  white-space: nowrap;

  img {
    border-radius: calc(var(--radius) - var(--padding));
  }

  @include mixins.remove-transition;
}

.button {
  align-items: center;
  background-color: var(--color-toolbar-background);
  border: 0;
  border-radius: 24px;
  box-shadow: 0 1px 12px var(--color-shadow-1),
    inset 0 0 2px 0.75px var(--color-border-2),
    inset 0 0 0 0.75px var(--color-border-1);
  color: var(--text-primary);
  display: inline-flex;
  flex-shrink: 0;
  font-size: inherit;
  padding: 0.5em 1em;
  transition: mixins.theme-transition(color, background-color, box-shadow);

  &:not(:disabled) {
    &:hover,
    &:focus-visible,
    &[data-state="open"] {
      background-color: var(--color-toolbar-button-background-hover);
      box-shadow: 0 0 24px var(--color-shadow-2),
        inset 0 0 2px 0 var(--color-border-2),
        inset 0 0 0 0.5px var(--color-border-1);
      color: var(--color-toolbar-button-color-hover);
      outline: 0;
    }

    &:active {
      background-color: var(--color-toolbar-button-background-active);
      color: var(--color-toolbar-button-color-active) !important;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
