@use "/styles/lib/mixins";

.separator {
  align-self: stretch;
  background-color: var(--color-border-1);
  border-radius: 2px;
  height: 1px;
  margin: 4px 0;
  transition: mixins.theme-transition(background-color);

  @include mixins.remove-transition;
}
