.number_flow_input {
  font-size: clamp(1.8em, 5vw, 4em);
  line-height: 1;

  [data-numberflow-input-contenteditable] {
    &:empty::before {
      content: attr(data-placeholder);
      opacity: 0.3;
    }
  }
}
