@use "/styles/lib/mixins.scss";

.button_group {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 2px;
  min-width: 33px;
  overflow: hidden;
  position: relative;

  button {
    background-color: transparent;

    &:focus-visible {
      outline: none;
    }
  }

  .button {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform calc(0.15s / var(--speed, 1)) ease-in-out,
      opacity calc(0.15s / var(--speed, 1)) ease-in-out;

    @include mixins.remove-transition;
  }

  .dropdown {
    --animation-start-translate: 200%;
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;

    > button {
      height: 100%;
    }

    &[data-state="visible"] {
      :global {
        animation: fade-in calc(0.25s / var(--speed, 1)) ease-in-out,
          scale-in calc(0.25s / var(--speed, 1)) ease-in-out,
          translate-in calc(0.25s / var(--speed, 1)) ease-in-out;
      }

      @include mixins.remove-animations;
    }

    &[data-state="hidden"] {
      visibility: hidden;
    }
  }
}
