@use "/styles/lib/mixins";
@use "/styles/lib/link-mixins";

.media_component {
  --custom-ease: cubic-bezier(0.42, 0, 0.25, 1);
  --radius: 6px;
  --aspect-ratio: 16 / 4;
  position: relative;

  .placeholder {
    --c1: cubic-bezier(0.01, 0.3, 0.58, 1);
    --c2: cubic-bezier(0.25, 0.1, 0.25, 1);
    --animation-bumping-heart-2-transform: scale(1.1);
    --animation-bumping-heart-transform: scale(1.1);

    > * {
      animation: bumping-heart 1.6s var(--c1) infinite backwards,
      bumping-heart-2 1.6s var(--c2) infinite backwards;

      @include mixins.reduced-motion {
        animation: none;
      }
    }
  }

  .media_collapsed_content {
    display: flex;
    gap: 8px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    word-break: break-word;

    .icon {
      --size: 1.25em;

      align-items: initial;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      display: grid;
      font-size: inherit;
      height: var(--size);
      place-content: center;
      position: relative;
      top: calc(var(--single-line-height) * 0.5 - var(--size) * 0.5);
      width: var(--size);

      > * {
        grid-area: 1 / 1;
        height: var(--size);
        object-fit: cover;
        width: var(--size);
      }

      .img {
        background-size: cover;
        display: inline-block;
        height: var(--size);
        opacity: 0;
        transform: scale(0);
        transition: transform 0.2s ease-in-out;
        width: var(--size);

        &[data-variant="image"] {
          border-radius: 2px;
          box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.2);
          overflow: hidden;
        }
      }

      .placeholder {
        transition: opacity 0.1s 0.1s ease-in-out, transform 0.1s 0.1s;

        svg {
          height: var(--size);
          width: var(--size);
        }
      }

      // Add larger tap target
      &::before {
        background-color: transparent;
        content: "";
        inset: -0.75em;
        position: absolute;
      }
    }

    a {
      @include link-mixins.link-with-arrow
    }
  }

  .media_content_wrapper {
    aspect-ratio: var(--aspect-ratio);
    border-radius: var(--radius);
    height: 4em;
    overflow: hidden;
    position: relative;
    transform-origin: top left;
    transition: height 0.3s var(--custom-ease), width 0.3s var(--custom-ease), aspect-ratio 0.3s var(--custom-ease), transform 0.3s var(--custom-ease), opacity 0.3s ease-in-out, background-color 0.3s ease-in-out 0.6s;
    width: 16em;

    @include mixins.remove-transition;

    .placeholder {
      --t: translate(-50%, -50%);

      color: var(--color-placeholder-icon);
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: var(--t) scale(0);
      transition: opacity 0.1s 0.1s ease-in-out, transform 0.1s 0.1s ease-in-out,
      left 0.2s ease-in-out 0.1s, top 0.2s ease-in-out 0.1s;
      z-index: 1;

      @include mixins.remove-transition;
    }
  }

  .media_content {
    display: inline-flex;
    font-size: 0;
  }

  .media_content {
    //height: var(--media-natural-height);
    transition: opacity 0.3s ease-in-out, transform 0.2s 0.1s ease-in-out;

    @include mixins.remove-transition;
    //width: var(--media-natural-width);

    > div, > img {
      border-radius: var(--radius);
      overflow: hidden;
      transform-origin: top left;
      transition: transform 0.3s var(--custom-ease);
    }
  }

  &[data-media-loading] {
    .media_content_wrapper {
      background-color: var(--color-empty);

      .placeholder {
        opacity: 0.5;
        transform: var(--t) scale(0.75);
      }
    }

    .media_content {
      opacity: 0;
      transform: scale(0);
    }
  }

  //---------------------------
  // When the media was loaded
  //---------------------------

  &:not([data-media-loading]) {
    .media_collapsed_content {
      .icon {
        .img {
          opacity: 1;
          transform: scale(1);
        }

        .placeholder {
          opacity: 1;
          transform: scale(0);
        }
      }
    }

    .media_content, .media_content_wrapper {
      height: 100%;
      width: 100%;
    }

    .media_content_wrapper {
      min-height: initial;
      min-width: initial;
    }

    &[data-media-responsive="both"] {
      .media_content_wrapper {
        height: calc(var(--media-component-width) / var(--aspect-ratio)); // TODO find a way to set the height
      }

      .media_content {
        > div, iframe, img {
          height: calc(var(--media-component-width) / var(--aspect-ratio)); // TODO find a way to set the height
          width: 100%;
        }
      }
    }

    &[data-media-responsive="horizontal"] {
      .media_content_wrapper {
        height: var(--media-natural-height);
      }

      .media_content {
        > div, iframe, img {
          width: 100%;
        }
      }
    }

    &[data-responsive="vertical"] {
      .media_content {
        > div, iframe, img {
          height: 100%;
        }
      }
    }

    &[data-media-keep-aspect-ratio] {
      --aspect-ratio: var(--media-natural-aspect-ratio);

      .media_content, .media_content_wrapper {
        aspect-ratio: var(--aspect-ratio);

        > div, iframe, img {
          aspect-ratio: var(--aspect-ratio);
        }
      }
    }
  }

  //-----------------
  // When collapsed
  //-----------------

  &[data-media-collapsed] {
    .media_collapsed_content {
      opacity: 1;
      pointer-events: all;
    }

    .media_content_wrapper {
      aspect-ratio: initial !important;
      height: var(--collapsed-content-height) !important;
      opacity: 0;
      pointer-events: none;

      .media_content {
        > div, > img {
          transform: scale(0);
        }
      }
    }
  }

  // ---------------------------------
  // MediaComponent specific animations
  // ---------------------------------

  @keyframes bumping-heart {
    0% {
      transform: none;
    }

    37.5% {
      transform: var(--animation-bumping-heart-transform);
    }
  }

  @keyframes bumping-heart-2 {
    37.5% {
      transform: var(--animation-bumping-heart-2-transform);
    }

    100% {
      transform: none;
    }
  }

}
