@use "/styles/lib/mixins.scss";

.checkbox {
  --size: 18px;
  border-radius: 3px;
  box-shadow: 0 1px 12px var(--color-shadow-1),
    inset 0 0 2px 0.75px var(--color-border-2),
    inset 0 0 0 0.75px var(--color-border-1-hover);
  display: grid;
  height: var(--size);
  place-items: center;
  transition: background-color 0.15s var(--ease-out-cubic);
  width: var(--size);

  @include mixins.remove-transition;

  .input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .checkmark {
    display: grid;
    grid-area: 1 / 1;
    place-items: center;

    .full,
    .partial {
      grid-area: 1 /1;
      height: calc(var(--size) * 0.9);
      opacity: 0;
      scale: 0.6;
      transition: opacity 0.15s var(--ease-out-cubic),
        scale 0.15s var(--ease-out-cubic);
      width: calc(var(--size) * 0.9);

      path {
        stroke-dasharray: 100%;
        stroke-dashoffset: 100%;
        stroke-width: 0;
        transition: stroke-dashoffset 0.15s var(--ease-in-out-cubic),
          stroke-width 0.15s var(--ease-out-cubic);

        @include mixins.remove-transition;
      }

      @include mixins.remove-transition;
    }
  }

  .input:checked + .checkmark .full {
    opacity: 1;
    scale: 1;

    path {
      stroke-dashoffset: 0;
      stroke-width: 1.75px;
    }
  }

  .input:indeterminate + .checkmark .partial {
    opacity: 1;
    scale: 1;

    path {
      stroke-dashoffset: 0;
      stroke-width: 1.75px;
    }
  }

  &:has(.input:checked, .input:indeterminate) {
    background-color: var(--color-border-1);
  }

  &:has(.input:focus-visible) {
    outline: 2px solid var(--color-border-1-outline);
    outline-offset: 2px;
  }
}
