@use "./lib/colors.scss";
@use "./lib/variables.scss";
@use "./lib/animations.scss";
@use "./standalone.scss";
@use "./lib/mixins.scss";
@use "./lib/link-mixins.scss";

:root {
  --font-size: 16px;
  --font-size-h1: clamp(1.72857143em, 1.72857143rem, 1.72857143rem);
  --font-size-h2: clamp(1.38571429em, 1.38571429rem, 1.38571429rem);
  --line-height: 1.6;
  --line-height-heading: 1.4;
  --bullet-size: 1.48em;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  --single-line-height: calc(var(--font-size) * var(--line-height));

  box-sizing: border-box;
}

.small_screen_only {
  @include mixins.above-medium {
    display: none;
  }
}

.above_medium {
  @include mixins.up-to-medium {
    display: none;
  }
}

html,
body {
  background-color: var(--color-background);
  color: var(--text-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --line-height: var(--line-height-heading);
  font-weight: 600;
  line-height: var(--line-height);
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-h1);
  margin-top: 0;
}

h2 {
  font-size: var(--font-size-h2);
  margin-bottom: 0.25em;
}

h3 {
  margin-bottom: 0.25em;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--text-primary-hover);
  }
}

* {
  box-sizing: border-box;
}

@keyframes highlight-animation {
  20% {
    color: var(--text-secondary-hover);
  }

  100% {
    color: var(--text-primary);
  }
}

.page {
  margin: 10.3rem 0;
  max-width: min(calc(100% - max(40vw, 10em)), 900px);

  .button {
    align-items: center;
    background-color: var(--color-toolbar-background);
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 12px var(--color-shadow-1),
      inset 0 0 2px 0.75px var(--color-border-2),
      inset 0 0 0 0.75px var(--color-border-1);
    color: var(--text-primary);
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 7px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out, width 0.2s var(--ease-out-cubic);
    white-space: nowrap;
    width: var(--button-width, auto);

    &[data-state="active"] {
      color: var(--text-secondary-hover);
    }

    &:hover,
    &:focus-visible {
      background-color: var(--color-toolbar-button-background-hover);
      outline: none;
    }
  }

  a.back_link {
    align-items: center;
    color: inherit;
    display: inline-flex;
    text-decoration: none;

    &::before {
      content: "<- ";
    }

    &:hover,
    &:focus-visible {
      color: var(--text-primary-hover);
      outline: none;
      text-decoration: underline;
    }
  }
}

code,
kbd {
  background-color: var(--color-code-background);
  border-radius: 4px;
  box-shadow: inset 0 0 2px 0.75px var(--color-border-2),
    inset 0 0 0 0.75px var(--color-border-1);
  color: var(--text-secondary);
  font-family: monospace;
  font-size: 0.94em;
  padding: 2px 4px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.video_player {
  --radius: 8px;
  border-radius: var(--radius);
  font-size: 0;
  max-width: 100%;
  position: relative;

  video {
    border-radius: var(--radius);
    overflow: hidden;
    width: 100%;

    &.video_dark {
      display: none;
    }
  }

  &::after {
    border-radius: var(--radius);
    box-shadow: 0 0 2px 0.75px var(--color-border-2),
      0 0 0 0.75px var(--color-border-3);
    content: "";
    inset: 0;
    pointer-events: none;
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    video {
      &.video_light {
        display: none;
      }

      &.video_dark {
        display: block;
      }
    }
  }
}

.prose {
  * {
    scroll-margin-top: 1em;
  }

  *:target,
  .targeted {
    animation: highlight-animation 1.5s ease-in-out 0.25s;
  }

  a {
    color: var(--text-primary-hover);
    text-decoration: underline;
    text-underline-offset: 0.2em;

    &[target="_blank"]:not([class]) {
      @include link-mixins.link-with-arrow;
    }
  }

  img {
    max-width: 100%;
  }

  p {
    margin-block: 0.75em;
  }

  p,
  li {
    text-wrap: pretty;
  }

  details {
    margin-top: 0.75em;

    ul {
      margin-left: 0.8em;
    }

    details {
      margin-left: 1.1em;
    }
  }

  ul {
    margin: 0;
    padding-left: 0;

    li {
      list-style: none;
      margin-top: 0.75em;
      position: relative;

      &::marker {
        display: none;
      }

      &::before {
        --size: var(--bullet-size);
        background-color: var(--color-bullet);
        content: "";
        height: var(--size);
        left: calc(-1 * var(--size));
        margin-top: 1px;
        position: absolute;
        top: calc((var(--single-line-height) - var(--size)) / 2);
        transition: mixins.theme-transition(background-color);
        -webkit-user-select: none; // stylelint-disable-line
        width: var(--size);

        @include mixins.remove-transition;
        @include mixins.mask-image(
          url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='2' fill='%234D4D4D'/%3E%3C/svg%3E%0A")
        );
      }
    }
  }

  .card {
    background-color: var(--color-card-background);
    border-radius: 8px;
    box-shadow: inset 0 0 2px 0.75px var(--color-border-2),
      inset 0 0 0 0.75px var(--color-border-1);
    font-size: 0.94em;
    padding: 16px 8px;
    transition: mixins.theme-transition(color, background-color, box-shadow);

    > details {
      margin-left: 1.5em;
    }

    > :first-child {
      margin-top: 0;
    }

    &.secondary {
      background-color: var(--color-card-background-secondary);
    }

    &.tertiary {
      background-color: var(--color-card-background-tertiary);
    }

    &.flat {
      background-color: var(--color-card-background-flat);
    }

    &.shadow {
      box-shadow: 0 1px 12px var(--color-shadow-1),
        inset 0 0 2px 0.75px var(--color-border-2),
        inset 0 0 0 0.75px var(--color-border-1);
    }

    &.alt {
      box-shadow: inset 0 0 2px 0.75px var(--color-border-2),
      inset 0 0 0 0.75px var(--color-border-3);
    }
  }
}

input[type="range"] {
  --slider-track-shadow: 0 1px 12px var(--color-shadow-1),
    inset 0 0 0 0.5px var(--color-border-1);
  --slider-track-bg: var(--color-slider-bg);
  --slider-track-bg-image: linear-gradient(
    to right,
    var(--color-slider-value) 0%,
    var(--color-slider-value) var(--value, 0%),
    transparent var(--value, 0%),
    transparent 100%
  );
  --slider-track-bg-focus: var(--color-slider-bg);
  --slider-track-bg-image-focus: linear-gradient(
    to right,
    var(--color-slider-value) 0%,
    var(--color-slider-value) var(--value, 0%),
    transparent var(--value, 0%),
    transparent 100%
  );
  --slider-track-height: 5px;
  --slider-track-radius: 25px;
  --slider-thumb-shadow: 0 1px 12px var(--color-shadow-1),
    inset 0 0 0 0.5px var(--color-border-1-hover);
  --slider-thumb-size: 18px;
  --slider-thumb-radius: 15px;
  --slider-thumb-bg: var(--color-toolbar-background);
  --slider-thumb-bg-focus: var(--color-toolbar-background);
}

input[type="range"] {
  background-color: transparent;
  // stylelint-disable-next-line
  -webkit-appearance: none;
  //width: 90%;
  //max-width: 42em;
  margin: 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--slider-track-bg);
  background-image: var(--slider-track-bg-image);
  border-radius: var(--slider-track-radius);
  box-shadow: var(--slider-track-shadow);
  cursor: pointer;
  height: var(--slider-track-height);
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  background: var(--slider-thumb-bg);
  border-radius: var(--slider-thumb-radius);
  box-shadow: var(--slider-thumb-shadow);
  cursor: pointer;
  height: var(--slider-thumb-size);
  margin-top: -6.7px;
  width: var(--slider-thumb-size);
  // stylelint-disable-next-line
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: var(--slider-track-bg-focus);
  background-image: var(--slider-track-bg-image-focus);
}

input[type="range"]:focus::-webkit-slider-thumb {
  background-color: var(--slider-thumb-bg-focus);
}

input[type="range"]::-moz-range-track {
  background-color: var(--slider-track-bg);
  background-image: var(--slider-track-bg-image);
  border-radius: var(--slider-track-radius);
  box-shadow: var(--slider-track-shadow);
  cursor: pointer;
  height: var(--slider-track-height);
  width: 100%;
}

input[type="range"]::-moz-range-thumb {
  background: var(--slider-thumb-bg);
  border: 0;
  border-radius: var(--slider-thumb-radius);
  box-shadow: var(--slider-thumb-shadow);
  cursor: pointer;
  height: var(--slider-thumb-size);
  width: var(--slider-thumb-size);
}

input[type="range"]:focus::-moz-range-track {
  background-color: var(--slider-track-bg-focus);
  background-image: var(--slider-track-bg-image-focus);
}

input[type="range"]:focus::-moz-range-thumb {
  background: var(--slider-thumb-bg-focus);
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: var(--slider-track-height);
  width: 100%;
}

input[type="range"]::-ms-fill-lower {
  background: var(--slider-track-bg);
  border-radius: var(--slider-track-radius);
  box-shadow: var(--slider-track-shadow);
}

input[type="range"]::-ms-fill-upper {
  background: var(--slider-track-bg);
  border-radius: var(--slider-track-radius);
  box-shadow: var(--slider-track-shadow);
}

input[type="range"]::-ms-thumb {
  background: var(--slider-thumb-bg);
  border-radius: var(--slider-thumb-radius);
  box-shadow: var(--slider-thumb-shadow);
  cursor: pointer;
  height: var(--slider-thumb-size);
  width: var(--slider-thumb-size);
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--slider-track-bg-focus);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--slider-track-bg-focus);
}

input[type="range"]:focus::-ms-thumb {
  background: var(--slider-thumb-bg-focus);
}
